---
layout: default
title: Home
---
<section class="hero is-medium is-link">
  <div class="hero-body has-text-centered">
    <div class="hero-text">
      <p class="title has-text-dark">
        Autospeck Motor Spares
      </p>
    </div>
    <div class="hero-text">
      <p class="subtitle has-text-dark">
        Belt Center
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column">
      First column
    </div>
    <div class="column">
      Second column
    </div>
    <div class="column">
      Third column
    </div>
    <div class="column">
      Fourth column
    </div>
  </div>
 </section>

<div class="posts">

  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>
    {{ post.content | strip_html | truncatewords: 50 }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
