---
layout: default
title: Home
---
<section class="hero is-medium is-link">
  <div class="hero-body has-text-centered">
    <div class="hero-text">
      <p class="title has-text-dark">
        Autospeck Motor Spares
      </p>
    </div>
    <div class="hero-text">
      <p class="subtitle has-text-dark">
        Belt Center
      </p>
    </div>
  </div>
</section>

<section class="section">
  <div class="columns">
    <div class="column  is-one-third">
      <figure class="image">
        <img src="/assets/img/pk-series-belts.jpg">
      </figure>
    </div>
    <div class="column  is-one-third">
      <figure class="image">
        <img src="/assets/img/pk-series-belts.jpg">
      </figure>
    </div>
    <div class="column  is-one-third">
      <figure class="image">
        <img src="/assets/img/pk-series-belts.jpg">
      </figure>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns has-text-centered">
      <div class="column  is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="https://sparepoint.netlify.app//assets/img/pk-series-belts.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4">Multi-Rib Belts</p>
          </div>
        </div>
      </div>
      <div class="column is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="https://sparepoint.netlify.app//assets/img/pk-series-belts.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4">V Belts</p>
          </div>
        </div>
      </div>
      <div class="column  is-one-third">
        <div class="card">
          <div class="card-image">
            <figure class="image">
              <img src="https://sparepoint.netlify.app//assets/img/pk-series-belts.jpg" alt="Placeholder image">
            </figure>
          </div>
          <div class="card-content">
            <p class="title is-4">Timing Belts</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="pb-6">
      <h2 class="subtitle has-text-centered">
        Belts Application
      </h2>
      <p class="has-text-centered">
        Our belts can be used on a wide variety of vehicles and machinery.
      </p>
    </div>
    <div class="columns">
      <div class="column  is-half">
        <p class="subtitle has-text-centered">
          Automotive
        </p>
        <div class="tags are-large">
          <span class="tag is-link">Cars</span>
          <span class="tag is-primary">Trucks</span>
          <span class="tag is-info">Vans</span>
          <span class="tag is-success">Buses</span>
        </div>
      </div>
      <div class="column is-half">
        <p class="subtitle has-text-centered">
          Machinery
        </p>
        <div class="tags are-large">
          <span class="tag is-link">Factory Machines</span>
          <span class="tag is-primary">Chaffcutters</span>
          <span class="tag is-info">Posho mills</span>
          <span class="tag is-success">Light industrial machinery</span>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="posts">

  {% for post in paginator.posts %}
  <article class="post">
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>
    {{ post.content | strip_html | truncatewords: 50 }}
  </article>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | relative_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    <a class="pagination-item newer" href="{{ paginator.previous_page_path | prepend: relative_url }}">Newer</a>
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
