<section class="bg-tertiary-custom" id="contact">
  <div class="container py-5">
    <h2 class="text-center h1 py-4">
      Contact Us
    </h2>
    <p class="text-center fs-4">
      Our shop is located in the heart of Nairobi. Visit us to experience our products firsthand, consult with our experienced staff, and explore the range of belts we offer. We are passionate about providing the best shopping experience to our valued customers.
    </p>
    <div class="row py-4">
      <div class="col-lg-5" id="visit">
        <h3 class="py-3 fs-2">
          Visit Us
        </h3>
        <p class="fs-4">
          Autospeck Belt Centre
          <br>
          Kirinyaga Road - Kumasi Road Junction,
          <br>
           Nairobi, Kenya
        </p>
        <p class="fs-4">
          Monday to Friday: 7:00 AM to 5:00 PM
          <br />
          Saturday: 8:00 AM to 4:30 PM
        </p>
      </div>
      <div class="col-lg-3">
        <h3 class="py-3 fs-2">
          Call Us
        </h3>
        <p class="fs-4">
          <img height="50" src="images/phone.svg">
          <a class="text-decoration-none link-primary" href="tel:+254704391699"> +254704391699</a>
        </p>
        <p class="fs-4">
          <img height="50" src="images/whatsapp.svg">
          <a class="text-decoration-none" href="https://api.whatsapp.com/send?phone=254704394985">+254704394985</a>
        </p>
      </div>
      <div class="col-lg-4">
        <a href="https://goo.gl/maps/8tMPjWKAV2D8BAvA9">
          <img class="img-fluid" src="images/autospeck-motors-maps.png" alt="Autospeck Business Location map screenshot">
        </a>
      </div>
    </div>
  </div>
</section>

<footer class="bg-primary-custom text-white text-center py-3">
  <p>
    Copyright &copy; 2023 Autospeck | Created by
    <a class="text-decoration-none text-white" href="https://avicndugu.com">Avic Ndugu</a>
  </p>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
