<nav class="navbar">
  <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img src="/assets/img/autospeck-belts-logo.png" width="112" height="28" alt="Autospeck Motor Spares">
      </a>
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div id="navMenu" class="navbar-menu">
      <div class="navbar-end">
        <a href="#belt-types" class="navbar-item" >
          Belt Types
        </a>
        <a href="#belts-uses" class="navbar-item">
          Belts Usage
        </a>
      </div>
        <a href="autospeck-contacts" class="navbar-item">
          Contacts
        </a>
      </div>
    </div>
  </div>
</nav>
