h3 {
    color: #222; /*#5A096E*/
}
.display-1 {
    font-weight: 500;
}

.btn-primary {
    --bs-btn-color:#fff;
    --bs-btn-bg:#5f3dc4;
    --bs-btn-border-color:#5f3dc4;
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:#7950f2;
    --bs-btn-hover-border-color:#7950f2;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:#6741d9;
    --bs-btn-active-border-color:#6741d9;
    --bs-btn-disabled-color:#fff;
    --bs-btn-disabled-bg:#cc5de8;
    --bs-btn-disabled-border-color:#cc5de8;
}

.btn-outline-primary{
    --bs-btn-color: #5f3dc4;
    --bs-btn-border-color:#5f3dc4;
    --bs-btn-hover-color:#fff;
    --bs-btn-hover-bg:#7950f2;
    --bs-btn-hover-border-color:#7950f2;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:#6741d9;
    --bs-btn-active-border-color:#6741d9;
    --bs-btn-disabled-color:#cc5de8;
    --bs-btn-disabled-bg:transparent;
    --bs-btn-disabled-border-color:#cc5de8;
}

.bg-primary-custom {
    background-color: #7048e8;
}

.bg-secondary-custom {
  background-color: #fff;
}

.bg-tertiary-custom {
  background-color: #d3f9d8;

  /*#f4fce3;*/
  /*#d8f5a2;*/
  /*#c0eb75;*/
  /*#813195;*/
  /*E2CE46;*/
  /*#90CE40;*/
  /*#e9fac8;*/
}


.py-6, .py-lg-6 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

