.hero {
  background: url(/assets/img/belts-a-cut-series-hero.jpg);
  background-position: center center;
  background-repeat:  no-repeat;
  background-size: cover;
}

.hero-text {
  background-color:rgba(250, 250, 250, 0.9);
  padding: 20px;
  /*max-width: 800px;*/
}

/*.navbar-item img {
  max-height: 3rem;
}*/


/*.navbar-burger {
  height: 5.5rem;
  width: 5.5rem;
}*/

.icon {
  width: 50px;
}
